.main-container {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button {
    padding: 16px;
    margin: 8px;
    font-size: 2em;
    display: inline-block;
    border-radius: 10px;
}

.button:hover {
    cursor: pointer;
}

.green {
    background-color: #8dff54;
}

.green-text {
    color: #029100;
}

.blue {
    background-color: #2f95ff;
}

.gold {
    background-color: #ffee19;
}

.disabled {
    background-color: rgba(169, 157, 138, 0.6);
}

.hidden {
    display: none;
}

input {
    height: 64px;
    font-size: 2em;
    padding-left: 16px;
    border-color: #4ea9ff;
    width: 280px;
}

label {
    margin-top: 16px;
    margin-bottom: 16px;
}
